n8n-video-engine.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/y3X5crcIDtFawPx7bcNq/stream",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_SUA_APIKEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $('ROTEIRO').item.json.roteiro }}\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.7,\n    \"similarity_boost\": 0.9\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -13376,
        848
      ],
      "id": "9a2ec456-579f-4925-90e5-1b5f8f070bcc",
      "name": "HTTP ElevenLabs"
    },
    {
      "parameters": {
        "jsCode": "let texto =  $input.first().json.output || '';\n\n// Remove aspas externas se houver\ntexto = texto.replace(/^\"(.*)\"$/, '$1');\n\n// Substitui \"R$\" por \"reais\"\ntexto = texto.replace(/R\\$/g, 'reais');\n\n// Remove quebras de linha e múltiplos espaços\ntexto = texto.replace(/[\\r\\n]+/g, ' ');           // quebra de linha → espaço\ntexto = texto.replace(/\\s\\s+/g, ' ');             // múltiplos espaços → um espaço\n\n// Remove espaços no início e fim\ntexto = texto.trim();\n\n// Remove caracteres de controle invisíveis (exceto espaço normal)\ntexto = texto.replace(/[\\u0000-\\u001F\\u007F]+/g, '');\n\n// Escapa aspas internas se for necessário usar com JSON.stringify (opcional)\ntexto = texto.replace(/\"/g, '\\\\\"');\n\nreturn [\n  {\n    json: {\n      roteiro: texto\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16368,
        832
      ],
      "id": "d3bfef1a-ac34-44ce-a2b8-20c213636b0e",
      "name": "Remove caracteres especiais"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.slug }}",
        "driveId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"SETUP\"].json[\"g_googledrive_dir\"] }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -15120,
        672
      ],
      "id": "5774450e-d251-408f-8502-74139f5d9621",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert visual artist specialized in generating realistic, atmospheric extraterrestrial horror illustrations from narrative scripts. Your job is to extract visual prompts from horror story scripts, creating vivid, disturbing, and cinematically impactful scenes that capture the essence of alien encounters and cosmic terror.\n\nVISUAL STYLE:\nPhotographic realism with supernatural and surreal extraterrestrial elements\n\nGloomy, overcast lighting with soft, diffused shadows\n\nFoggy, misty, or cloudy atmosphere with washed-out colors to create mystery and unease\n\nDesaturated color palette: cold grays, muted blues, pale greens, silvery tones\n\nDisturbingly calm water surfaces, murky reflections, and eerie stillness\n\nDetailed and hyper-realistic textures, with painterly and cinematic composition\n\nEXTRATERRESTRIAL ELEMENTS:\nAlien beings with bizarre and grotesquely humanoid smiles, oversized black or glossy eyes\n\nElongated heads or necks, emerging partially from water or fog\n\nNon-human anatomy with distorted proportions, but mockingly human features (like unnatural grins)\n\nFixed, uncanny expressions that create psychological discomfort\n\nPresence of multiple entities, giving the sense of encroaching invasion\n\nNo visible technology required — horror emanates from presence and form\n\nCOMPOSITION RULES:\nCreatures should be arranged in eerie symmetry or scattered in unnatural positions\n\nLeave space for potential text overlay, especially near upper or lower thirds\n\nScenes must evoke isolation and intrusion at once\n\nDepth and perspective should immerse the viewer into the unsettling environment\n\nUse of water bodies, lakesides, or foggy landscapes to enhance narrative depth\n\nHORROR TECHNIQUES:\nUncanny valley effect with human-like but clearly unnatural traits\n\nStillness and symmetry to evoke unease\n\nJuxtaposition of tranquil environments with grotesque alien appearances\n\nFocus on disturbing contrasts: childlike smiles with predatory undertones\n\nSlight environmental distortions: unnatural reflections, warped vegetation, or impossible mist shapes\n\nLIGHTING AND ATMOSPHERE:\nSoft but chilling ambient lighting typical of overcast or post-rainfall skies\n\nMist and haze as compositional layers to obscure and reveal selectively\n\nCreepy silhouettes partially emerging from fog or water\n\nUse of unnatural cold lighting (e.g. white or pale green highlights) to enhance alien presence\n\nPrefer twilight, late afternoon, or cloudy day settings over pure night\n\nNo text or captions should appear in the images. Extract the most visually compelling and narratively important moments from the provided script to create standalone horror illustrations that capture the essence of extraterrestrial terror with a surreal, foggy, and psychologically disturbing tone.\n\nOutput format: return only a valid JSON array like this, where each prompt and image name is incremented sequentially:\n\n{\n  \"image_prompts\": [\n    {\n      \"prompt\": \"prompt_1\",\n      \"image\": \"image_1\"\n    },\n    {\n      \"prompt\": \"prompt_2\",\n      \"image\": \"image_2\"\n    },\n    {\n      \"prompt\": \"prompt_3\",\n      \"image\": \"image_3\"\n    }\n  ]\n}",
              "role": "system"
            },
            {
              "content": "=I will provide you with a script of maximum 2500 characters.\n\nI need you to extract {{ $item(\"0\").$node[\"SETUP\"].json[\"g_qtdimagens\"] }} prompts in English to generate images using an AI API. Each image should describe a key moment that represents a specific point in the script or phrase, following the same order as the narration.\n\nGuidelines:\n- Each prompt must be 1 to 2 sentences long\n- The image cannot contain any text, captions, or written elements\n- Ensure each prompt is rich in details and specificity\n- Focus on the most visually impactful and narratively important moments\n- Maintain chronological order from the script\n- Emphasize atmospheric elements, character positioning, and environmental details\n- Include specific lighting, mood, and extraterrestrial/horror elements when relevant\n\nThis is the script content:\n{{ $item(\"0\").$node[\"ROTEIRO\"].json[\"roteiro\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -12816,
        720
      ],
      "id": "281718e7-c705-4883-9fb5-d245d278e003",
      "name": "Gera os prompts das imagens",
      "credentials": {
        "openAiApi": {
          "id": "HINluJdNi88ajuUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message.content;\n\n// Corrige a string com aspas escapadas e quebras de linha\nconst cleaned = raw.replace(/\\\\n/g, '').replace(/\\\\\"/g, '\"');\n\n// Transforma a string JSON em objeto real\nconst parsed = JSON.parse(cleaned);\n\n// Retorna cada prompt como um item separado\nreturn parsed.image_prompts.map((item, index) => ({\n  json: {\n    ...item,\n    index: index + 1\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12240,
        448
      ],
      "id": "50750a90-cfc4-42cb-9944-9a2c71df8094",
      "name": "Limpa o JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUA_APIKEY"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"go_fast\": true,\n    \"megapixels\": \"1\",\n    \"num_outputs\": 1,\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"jpg\",\n    \"output_quality\": 80,\n    \"num_inference_steps\": 4\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -11360,
        704
      ],
      "id": "1395edfb-0edd-45bd-831d-202e95b87c46",
      "name": "Gerar imagem",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "={{ $('Gerar imagem').item.json.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization\t",
              "value": "Bearer SUA_APIKEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -11504,
        960
      ],
      "id": "fd63a326-365b-42c4-b713-647659b0829b",
      "name": "Pega status da imagem"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "=succeeded",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "44d1de9b-5254-44c0-b8b7-190a1221561b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "454c3820-7e0a-4bf2-bd41-4408651ad5f6",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "160cb03c-dc45-4a89-add6-11299c60bb59",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "canceled",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "353ba927-d5f5-4308-9427-9583d62f2688",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "starting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25044cfc-1c72-450a-8302-fc06b6210c56",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -12368,
        880
      ],
      "id": "7c6e577a-9911-4eb5-8933-424a0ff5f7bf",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -12000,
        800
      ],
      "id": "c4d22f3e-02cf-480d-939b-0dce0aa7e7e5",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -12000,
        960
      ],
      "id": "fa073d15-d321-4d12-9cdf-af97a28b0f8b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -11536,
        304
      ],
      "id": "5a36bd1b-dd07-4574-830d-dd747535f91c",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "command": "=ls /tmp/youtubevideos/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -14928,
        448
      ],
      "id": "18a549e1-50de-445f-a784-d1fb2ba36eb7",
      "name": "lista"
    },
    {
      "parameters": {
        "command": "=mkdir -p /tmp/youtubevideos/{{ $json.slug }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -15120,
        448
      ],
      "id": "0667d4ed-ee30-406e-91da-f76d29c3b04a",
      "name": "Cria o diretório no /tmp/youtubevideos se não existir"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/narracao.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -13088,
        384
      ],
      "id": "c0ae72e5-3adf-4d88-9151-b4e29e3a4241",
      "name": "Salva áudio no TMP"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/{{ $('Limpa o JSON').item.json.image }}.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -11904,
        528
      ],
      "id": "016cb75c-bf74-4873-8dc2-9926de489b9b",
      "name": "Salva img no /tmp/youtubevideos"
    },
    {
      "parameters": {
        "command": "=ls /tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -11264,
        192
      ],
      "id": "b0eddd03-08ce-4d78-a557-cf6fca7fe235",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "content": "## 8 - Gera o vídeo sem legenda",
        "height": 80,
        "width": 1260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -11104,
        1184
      ],
      "typeVersion": 1,
      "id": "a43137a2-f9a5-4615-a4ea-e75ebe6fe53b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/narracao.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -9728,
        992
      ],
      "id": "dec1896f-a37c-43f4-bcb8-4472ce4bb044",
      "name": "Pega a narração"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer gsk_SUA_APIKEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "timestamp_granularities[]",
              "value": "segment"
            },
            {
              "name": "timestamp_granularities[]",
              "value": "word"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9520,
        992
      ],
      "id": "e3b53591-17df-489d-ae5b-9838323dc2e2",
      "name": "transcreve  audio no GROQ"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const narracaoIndex = $itemIndex;\nconst words = $json.words;\n\nif (!Array.isArray(words)) {\n  throw new Error(\"words inválidos\");\n}\n\nfunction dividirPorPalavras(wordsArray) {\n  const blocos = [];\n  let atual = [];\n  let blocoStart = wordsArray.length > 0 ? wordsArray[0].start : 0;\n\n  wordsArray.forEach((wordObj, index) => {\n    atual.push(wordObj.word);\n\n    const ehUltima = index === wordsArray.length - 1;\n    const passouLimite = atual.length >= 7 || ehUltima;\n\n    if (passouLimite) {\n      const blocoTexto = atual.join(' ');\n      const blocoEnd = wordObj.end;\n\n      blocos.push({\n        text: blocoTexto,\n        startTime: blocoStart,\n        endTime: blocoEnd\n      });\n\n      blocoStart = blocoEnd;\n      atual = [];\n    }\n  });\n\n  return blocos;\n}\n\nconst blocosFinal = dividirPorPalavras(words);\n\nreturn {\n  json: {\n    narracaoIndex,\n    blocos: blocosFinal,\n    words\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9296,
        992
      ],
      "id": "99f9e167-db1b-4530-b0d5-2b43db55182f",
      "name": "Limpa o retorno do GROQ"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * Formata segundos para o padrão de tempo do ASS (H:MM:SS.cs).\n */\nfunction formatAssTime(seconds) {\n  const ms = Math.floor((seconds % 1) * 100);\n  const totalSeconds = Math.floor(seconds);\n  const h = String(Math.floor(totalSeconds / 3600)).padStart(1, '0');\n  const m = String(Math.floor((totalSeconds % 3600) / 60)).padStart(2, '0');\n  const s = String(totalSeconds % 60).padStart(2, '0');\n  const cs = String(ms).padStart(2, '0');\n  return `${h}:${m}:${s}.${cs}`;\n}\n\n/**\n * Gera o texto de uma linha com tags de duração de karaoke {\\k...}.\n * As cores são herdadas do Estilo definido em gerarAssCompleto.\n */\nfunction gerarKaraokeLinha(wordsSegmentadas, palavrasBloco) {\n  return wordsSegmentadas.map(palavra => {\n    const match = palavrasBloco.find(w =>\n      w.word.replace(/[,.!?;]/g, '').toLowerCase() ===\n      palavra.replace(/[,.!?;]/g, '').toLowerCase()\n    );\n    if (match) {\n      const duracao = Math.round((match.end - match.start) * 100);\n      return `{\\\\k${duracao}}${match.word}`;\n    } else {\n      return palavra;\n    }\n  }).join(' ');\n}\n\n/**\n * Cria uma ou mais linhas de diálogo para um segmento de texto.\n */\nfunction gerarLinhasPorSegmento(bloco, words) {\n  // A função formatAssTime é chamada aqui.\n  const inicio = formatAssTime(bloco.startTime);\n  const fim = formatAssTime(bloco.endTime);\n  \n  const palavrasSegmento = bloco.text.trim().split(/\\s+/);\n  const palavrasBloco = words.filter(w => w.start >= bloco.startTime && w.end <= bloco.endTime);\n\n  const linhaTexto = gerarKaraokeLinha(palavrasSegmento, palavrasBloco);\n  \n  return [`Dialogue: 0,${inicio},${fim},Default,,0,0,0,,${linhaTexto}`];\n}\n\n/**\n * Junta todas as partes e gera o conteúdo completo do arquivo .ass.\n * Define os estilos que controlam as cores do karaoke.\n */\nfunction gerarAssCompleto(blocos, words, index) {\n  const assHeader = `[Script Info]\nTitle: Letra ${String(index).padStart(2, '0')}\nScriptType: v4.00+\nPlayResX: 1280\nPlayResY: 720\n\n[V4+ Styles]\nFormat: Name, Fontname, Fontsize, PrimaryColour, SecondaryColour, OutlineColour, BackColour, Bold, Italic, Underline, StrikeOut, ScaleX, ScaleY, Spacing, Angle, BorderStyle, Outline, Shadow, Alignment, MarginL, MarginR, MarginV, Encoding\nStyle: Default,Arial,60,&H0000FFFF,&H00FFFFFF,&H00000000,&H00000000,-1,0,0,0,100,100,0,0,1,2,1,2,30,30,80,1\n\n[Events]\nFormat: Layer, Start, End, Style, Name, MarginL, MarginR, MarginV, Effect, Text`;\n\n  const linhas = blocos.flatMap(bloco => gerarLinhasPorSegmento(bloco, words));\n  return `${assHeader}\\n${linhas.join('\\n')}`;\n}\n\n// === Lógica principal de execução ===\nconst blocos = $json.blocos;\nconst words = $json.words;\nconst musicaIndex = $json.musicaIndex || 1;\n\nconst ass = gerarAssCompleto(blocos, words, musicaIndex);\nconst buffer = Buffer.from(ass, 'utf-8');\n\nreturn {\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/x-ass',\n      fileName: `legenda_${musicaIndex}.ass`\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9104,
        992
      ],
      "id": "c4a62d9c-faa0-4dcd-90a2-8825799b7a56",
      "name": "gera .ass"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/legenda.ass",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -8880,
        992
      ],
      "id": "d74d20ea-38a0-47b4-9559-563e71cc5ad8",
      "name": "Salva legenda no /tmp/youtubevideos"
    },
    {
      "parameters": {
        "content": "## 9 - Gera legenda .ASS",
        "height": 80,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9776,
        1184
      ],
      "typeVersion": 1,
      "id": "52aadbd1-97e0-4cda-806e-bc1f8af17276",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "command": "={{ $json.ffmpeg_command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -10160,
        992
      ],
      "id": "63847271-c814-4117-b90a-3e2f35ce9d1e",
      "name": "Gera vídeo sem legenda"
    },
    {
      "parameters": {
        "command": "=ffmpeg -i /tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/video_sem_legenda.mp4 -vf \"ass=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/legenda.ass\" -c:a copy -y /tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/video_com_legenda.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -8400,
        992
      ],
      "id": "cb160556-e1c9-475d-a5af-3f8aa20a627b",
      "name": "Gera vídeo com legenda"
    },
    {
      "parameters": {
        "content": "## 6 - Embute a legenda no vídeo",
        "height": 80,
        "width": 480,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8480,
        1184
      ],
      "typeVersion": 1,
      "id": "58aa6c77-1a4a-49fe-9e24-b086a222a1ef",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const duracaoNarracao = parseInt($('NARRACAO').first().json.tempo_s);\nconst duracaoMinimaPorMusica = 150;\n\n// Calcula exatamente quantas músicas são necessárias para cobrir a narração\nconst quantidadeMusicas = Math.ceil(duracaoNarracao / duracaoMinimaPorMusica);\n\nreturn [{\n  json: {\n    quantidade_musicas_para_baixar: quantidadeMusicas\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7920,
        992
      ],
      "id": "05afcaa6-3f39-4dfe-8b1b-db4843e2c6a1",
      "name": "Quantas musicas preciso"
    },
    {
      "parameters": {
        "jsCode": "function normalizeName(name) {\n  return name.replace(/\\s*\\(\\d+\\)(?=\\.\\w+$)/, '');\n}\n\nconst uniqueMap = new Map();\n\n// Remove duplicados com base no nome normalizado\nfor (const item of items) {\n  const filename = item.json.name || item.json.file || '';\n  const baseName = normalizeName(filename);\n\n  if (!uniqueMap.has(baseName)) {\n    uniqueMap.set(baseName, item);\n  }\n}\n\n// Pega os únicos e embaralha\nconst uniqueItems = Array.from(uniqueMap.values());\nconst shuffled = uniqueItems.sort(() => 0.5 - Math.random());\n\n// Retorna apenas 2 músicas\nreturn shuffled.slice(0, $('Quantas musicas preciso').first().json.quantidade_musicas_para_baixar);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7456,
        992
      ],
      "id": "c869999f-43a8-43d0-b03f-da6118959d84",
      "name": "Seleciona X de forma aleatória",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/musica{{$itemIndex}}.mp3",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -6960,
        992
      ],
      "id": "3968fbea-6194-48af-a156-022e7509105b",
      "name": "Salva as músicas"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -7200,
        992
      ],
      "id": "47d2ce76-1767-499a-9307-cdb43073308a",
      "name": "Faz o download da música",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## 7- Faz o download das músicas",
        "height": 80,
        "width": 1240,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7984,
        1184
      ],
      "typeVersion": 1,
      "id": "b1f059d0-fbd7-4cf6-b911-afcc1ef92d7c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "const diretorio = \"/tmp/youtubevideos/\" + $('DIRETÓRIO').first().json.diretorio_slug;\nconst totalMusicas = $('Quantas musicas preciso').first().json.quantidade_musicas_para_baixar;\n\nlet comando;\n\nif (totalMusicas === 1) {\n  const path = `${diretorio}/musica0.mp3`;\n  // Apenas copia o arquivo para manter a mesma saída esperada\n  comando = `cp ${path} ${diretorio}/musica_unida.mp3`;\n} else {\n  let inputs = '';\n  let concatList = '';\n\n  for (let i = 0; i < totalMusicas; i++) {\n    const path = `${diretorio}/musica${i}.mp3`;\n    inputs += `-i ${path} `;\n    concatList += `[${i}:a]`;\n  }\n\n  const filter = `${concatList}concat=n=${totalMusicas}:v=0:a=1[outa]`;\n  comando = `ffmpeg ${inputs}-filter_complex \"${filter}\" -map \"[outa]\" -y ${diretorio}/musica_unida.mp3`;\n}\n\nreturn [{\n  json: {\n    ffmpeg_command: comando\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6608,
        992
      ],
      "id": "6eed0112-c735-4207-ba2f-0805cf4e1a77",
      "name": "Gera comando para unir as músicas"
    },
    {
      "parameters": {
        "content": "## 8-Une as músicas (se precisar)",
        "height": 80,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6704,
        1184
      ],
      "typeVersion": 1,
      "id": "07c29907-720d-487e-bd25-addb3f62fbd5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 10 - Gera música com narração",
        "height": 80,
        "width": 1340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5408,
        1184
      ],
      "typeVersion": 1,
      "id": "632642e6-9f72-494f-9329-ae3e7ee72036",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "command": "=ls /tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6128,
        672
      ],
      "id": "3e5c5e95-d731-47af-b462-c19ba541a261",
      "name": "lista o diretório1"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/musica_unida.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -6128,
        832
      ],
      "id": "ea72e789-4689-4c59-a836-fa998ad1b7fc",
      "name": "lê o arquivo gerado"
    },
    {
      "parameters": {
        "command": "=ffprobe -i /tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/video_com_legenda.mp4 -show_entries format=duration -v quiet -of csv=\"p=0\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -5360,
        992
      ],
      "id": "a091edd2-3078-4733-86cb-a367f363f2b4",
      "name": "Pega o tamanho do vídeo com legenda"
    },
    {
      "parameters": {
        "command": "=ffprobe -i /tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/musica_unida_baixa.mp3 -show_entries format=duration -v quiet -of csv=\"p=0\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -5168,
        992
      ],
      "id": "5199458a-bcd3-4672-b261-ccd55bf472d7",
      "name": "Pega o tamanho da música unida"
    },
    {
      "parameters": {
        "command": "=ffmpeg -i /tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/musica_unida.mp3 -filter:a \"volume=0.5\" -y /tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/musica_unida_baixa.mp3"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -5696,
        992
      ],
      "id": "c04edccb-0f87-44be-87d1-4c2d86739b43",
      "name": "Abaixa o volume da música"
    },
    {
      "parameters": {
        "jsCode": "const diretorio = \"/tmp/youtubevideos/\"+$('DIRETÓRIO').first().json.diretorio_slug;\n\nconst narracao = `${diretorio}/narracao.mp3`;\nconst musica = `${diretorio}/musica_unida_baixa.mp3`;\nconst output = `${diretorio}/audio_mixado_final.mp3`;\n\nconst comando = `ffmpeg \\\n-i \"${narracao}\" \\\n-i \"${musica}\" \\\n-filter_complex \"[0:a][1:a]amix=inputs=2:duration=first[aout]\" \\\n-map \"[aout]\" \\\n-c:a libmp3lame -q:a 2 -y \"${output}\"`;\n\nreturn [{\n  json: {\n    ffmpeg_command: comando\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4688,
        992
      ],
      "id": "93e8c0ce-0b2f-4599-978d-1c24635315fd",
      "name": "comando para unir música com narração"
    },
    {
      "parameters": {
        "command": "=ffprobe -i /tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/narracao.mp3 -show_entries format=duration -v quiet -of csv=\"p=0\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -10976,
        784
      ],
      "id": "50ab1108-a1d8-463a-897d-2f770492ae7e",
      "name": "Pega o tamanho da narração mp3"
    },
    {
      "parameters": {
        "jsCode": "const seconds = parseFloat($input.first().json.stdout);\nconst rounded = Math.round(seconds);\n\nreturn [{ duracao_em_segundos: rounded }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10768,
        992
      ],
      "id": "0d0cbcd4-f7fd-4e16-8bb7-993f0aca35ee",
      "name": "Configura o tamanho da narração"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/video_final_completo.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -3440,
        784
      ],
      "id": "4c30310f-f5d2-422e-b7b8-9e92de351d70",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "content": "##  11 - Gera o vídeo final",
        "height": 80,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4016,
        1184
      ],
      "typeVersion": 1,
      "id": "9a9bde51-73cc-49eb-95ed-c73a6ae2106d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "name": "=",
        "driveId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_id\"] }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3248,
        784
      ],
      "id": "d53e8fa4-c2f4-422f-b28d-d656ab39a181",
      "name": "Upload do vídeo final"
    },
    {
      "parameters": {
        "content": "## 02 - Criação do roteiro",
        "height": 80,
        "width": 1240,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -17296,
        1184
      ],
      "typeVersion": 1,
      "id": "c2d35adb-914f-4b5a-ad23-09365d805316",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## 06 - Gera o áudio da narração",
        "height": 80,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13424,
        1184
      ],
      "typeVersion": 1,
      "id": "776628c2-462f-40b9-94ce-f9db9d1b8029",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## 07 - Gera as imagens",
        "height": 80,
        "width": 1720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -12864,
        1184
      ],
      "typeVersion": 1,
      "id": "b62a2a23-10c2-40af-8d7d-29cbeebfdb05",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"SETUP\"].json[\"g_googledrive_planilha\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wEO-DdbWQX31qwsX7CZb3QDNHqdndCq35nkjTiDcBWE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $item(\"0\").$node[\"SETUP\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2928,
        992
      ],
      "id": "5c599d8b-ae9d-43b9-8e96-fb06ff6278e7",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "content": "## 12 Publica o vídeo no Youtube",
        "height": 80,
        "width": 1300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3008,
        1184
      ],
      "typeVersion": 1,
      "id": "247fffad-f7d2-4b78-9b03-71a747e44fb5",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -304,
        928
      ],
      "id": "9f4e8079-c5a2-4d32-9ed9-77094425345d",
      "name": "Wait",
      "webhookId": "ab0280db-870b-444c-94dd-3c7a673f7dd5"
    },
    {
      "parameters": {
        "url": "={{ $('Gera thumbnail').item.json.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization\t",
              "value": "Bearer SUA_APIKEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        928
      ],
      "id": "cb103515-f67c-4023-96df-467363749e69",
      "name": "Pega status da imagem1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "=succeeded",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "44d1de9b-5254-44c0-b8b7-190a1221561b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "454c3820-7e0a-4bf2-bd41-4408651ad5f6",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "160cb03c-dc45-4a89-add6-11299c60bb59",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "canceled",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "353ba927-d5f5-4308-9427-9583d62f2688",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "starting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25044cfc-1c72-450a-8302-fc06b6210c56",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1008,
        848
      ],
      "id": "4142bb77-bfc3-4a82-ba4d-34a581f309f4",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -640,
        768
      ],
      "id": "d721e553-c4f2-4429-835d-37c719a6257c",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -640,
        928
      ],
      "id": "169b72cc-9806-481a-989a-2ae5161b2a4e",
      "name": "Merge3"
    },
    {
      "parameters": {
        "url": "={{ $json.output[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        592
      ],
      "id": "0dc1ae34-dc5c-4348-a2d2-86e9b45e4a3e",
      "name": "Baixa a imagem"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -288,
        272
      ],
      "id": "9f7e5ea5-8a4f-4cfe-9808-adf34ddfc3ce",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "##  11 - Gera a thumbnail",
        "height": 80,
        "width": 3260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1648,
        1184
      ],
      "typeVersion": 1,
      "id": "e245ece3-c8a2-4b8b-bdfa-ea4ef0c7e8ed",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/thumbnail_final.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1104,
        240
      ],
      "id": "a7086891-22e0-4936-a72a-cb55fa470897",
      "name": "pega nova thumb1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=1C5xI5mzAVRKsKupgRvvOqrjvGlvl3KNv",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        240
      ],
      "id": "850944d5-d5ab-4f40-baa7-623cdcf41220",
      "name": "Faz o download da fonte ttf",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/youtubevideos/montserrat-black.ttf",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        464,
        240
      ],
      "id": "c2425df6-f021-4b1e-9adf-079ca1ac86f1",
      "name": "Salva a fonte"
    },
    {
      "parameters": {
        "content": "## 01 - Configurações",
        "height": 80,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -17776,
        1184
      ],
      "typeVersion": 1,
      "id": "c3007eb5-3a98-4b2e-b6a0-c556f9b8e6df",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -17264,
        1008
      ],
      "id": "1525ed74-e9c5-49e9-8205-db23dafd4f4c",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -15968,
        1040
      ],
      "id": "9fb71cd6-0e96-45b0-9476-02ca881ce4a3",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"ALERTA DE UFO: MISTÉRIO ASSUSTADOR NO CÉU...\",\n  \"description\": \"This really happened. A shocking extraterrestrial encounter left witnesses speechless. Do you believe in alien life? Subscribe for more terrifying stories!\",\n  \"tags\": \"alien, ufo, terror, mystery, haunting, extraterrestrial, suspense, true story\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -15808,
        1040
      ],
      "id": "233d0d63-fa91-466b-bf99-b5024bfd1ef1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## 03 - Dados para publicação",
        "height": 80,
        "width": 540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16016,
        1184
      ],
      "typeVersion": 1,
      "id": "d22beef6-2193-419a-a332-a211f16a4304",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a cosmic horror story based on an alien encounter.\n\nIMPORTANT:\n- Do not exceed 2300 characters.",
        "options": {
          "systemMessage": "=You are a master storyteller specializing in cosmic horror and extraterrestrial encounters. Your stories blend psychological terror with otherworldly phenomena, creating narratives that disturb and captivate readers through atmospheric tension rather than explicit violence.\n\nIMPORTANT:\nAll your responses must be written in fluent {{ $json.g_idioma }}, with natural, fluent language and rich in {{ $json.g_idioma }} idiomatic expressions.\nYour response must be exactly between 2300 and 2400 characters. The character count must be followed strictly. Do not exceed 2400 characters and do not fall below 2300 characters. Keep the narrative concise yet impactful. Do not include the character count in your response.\n\nSTRUCTURE:\n\nAtmospheric Opening: Create an introduction with a sense of something wrong in the environment.\n\nCreeping Revelation: Gradually introduce alien or supernatural elements with indirect signs.\n\nPsychological Escalation: Focus on the deterioration of the protagonist's mental state and growing paranoia.\n\nCosmic Confrontation: Reveal the extraterrestrial presence in a way that challenges human understanding.\n\nAmbiguous Resolution: End with an uncertain or disturbing resolution, leaving a sense of unease.\n\nTONE:\nThe narrative should be cerebral, atmospheric, and deeply unsettling. Think of something like Lovecraft, mixed with modern psychological sci-fi thriller.\n\nIMPORTANT:\nYour response should be approximately 2300 characters. It must never exceed this limit under any circumstances. Stay close to this count, and do not write anything outside the story itself — no explanations or character count.\n\nResponses exceeding or below the limit will be considered invalid."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -17264,
        800
      ],
      "id": "d1dd59a8-98cf-4f78-b3db-61ff747e10fb",
      "name": "Agente Roteiro"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate YouTube metadata optimized for SEO and engagement, based on the following extraterrestrial horror story:\n{{ $json.roteiro }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a YouTube expert specializing in organic growth, SEO, and viral extraterrestrial horror and suspense videos. Your mission is to create highly optimized metadata based on an extraterrestrial horror story provided, always respecting platform guidelines.\n\nAll content must be written in fluent {{ $('SETUP').item.json.g_idioma }}.\n\nYour delivery must contain:\n\n1. **Title (title)**:\n   - Completely in UPPERCASE\n   - Maximum 60 characters (including spaces)\n   - Must contain high emotional impact words related to terror/suspense\n   - Include elements like: ALIEN, UFO, TERROR, MYSTERY, HAUNTING\n   - End with \"...\" to generate curiosity and suspense\n\n2. **Description (description)**:\n   - 2 to 4 lines\n   - Must mention it's a real story/based on facts about extraterrestrial encounter\n   - Create atmosphere of mystery and terror\n   - May include an invitation to subscribe for more scary stories\n   - Use phrases like \"Do you believe in extraterrestrial life?\" or \"This really happened...\"\n\n3. **Tags (tags)**:\n   - Output must be a **single string** with the tags, not an array\n   - Format: `\"alien, ufo, terror, mystery, haunting\"`\n   - Use 5 to 10 short and direct keywords related to extraterrestrial horror\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -15968,
        832
      ],
      "id": "0ea7c15f-8996-401b-92c1-75ce504271ad",
      "name": "Agente Publicação"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fe039dc-63d5-470c-adcb-ea077c219207",
              "name": "roteiro",
              "value": "={{ $json.roteiro }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16176,
        832
      ],
      "id": "da807663-934c-4d20-9a0d-6a52d799b4af",
      "name": "ROTEIRO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "197db042-4d25-49f5-9c45-bbe551993891",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "e08db3e5-0f4d-43d4-b4fc-6500c1be85d6",
              "name": "description",
              "value": "={{ $json.output.description }}",
              "type": "string"
            },
            {
              "id": "41643ae7-683c-4c1c-b472-3ae28205c409",
              "name": "tags",
              "value": "={{ $json.output.tags }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -15616,
        832
      ],
      "id": "874e6d07-6cdf-4206-9f22-f1888e7ea729",
      "name": "PUBLICAÇÃO"
    },
    {
      "parameters": {
        "content": "## 04 - Cria e configura dados do diretório",
        "height": 80,
        "width": 920,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -15440,
        1184
      ],
      "typeVersion": 1,
      "id": "197ce14b-0a9e-4e03-a360-d0660d2aa9a3",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let titulo = $input.first().json.title || '';\n\n  // 1. Converte para minúsculas\n  titulo = titulo.toLowerCase();\n\n  // 2. Remove acentos\n  titulo = titulo.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n\n  // 3. Remove caracteres especiais\n  titulo = titulo.replace(/[^a-z0-9\\s-]/g, \"\");\n\n  // 4. Substitui espaços e múltiplos espaços por hífens\n  titulo = titulo.replace(/\\s+/g, '-');\n\n  // 5. Remove hífens duplicados ou nas pontas\n  titulo = titulo.replace(/-+/g, '-').replace(/^-+|-+$/g, '');\n\n  // Retorna com o novo campo `slug` ou `pasta`\n  return {\n    json: {\n      slug: titulo,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15408,
        832
      ],
      "id": "60164c94-80cb-49fa-bdf0-0b6423561ba4",
      "name": "Gera a slug do diretório"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -14880,
        800
      ],
      "id": "8cbb950d-8fac-46b6-8320-f1fec285d4e2",
      "name": "Combina",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15d44eca-f9c9-41a0-849d-441bd5a9303f",
              "name": "diretorio_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "d60bd2a4-5605-4a35-b143-a17d2739d45a",
              "name": "diretorio_slug",
              "value": "={{ $json.slug }}",
              "type": "string"
            },
            {
              "id": "09a12b07-48c4-4270-b719-4e90c5a84be1",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14656,
        800
      ],
      "id": "5b534306-9f31-4ac7-be86-597eec2244db",
      "name": "DIRETÓRIO",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## 05 - Salva o que gerou",
        "height": 80,
        "width": 620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -14480,
        1184
      ],
      "typeVersion": 1,
      "id": "38f312be-f191-4d93-bfe5-0a0501c2328b",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "name": "dados_para_upload.txt",
        "driveId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_id\"] }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -14016,
        304
      ],
      "id": "5d8bfdf5-5092-424e-a9bf-7112cb6941b9",
      "name": "Salva no GDrive"
    },
    {
      "parameters": {
        "content": "Dados de publicação no google drive",
        "height": 200,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -14416,
        272
      ],
      "typeVersion": 1,
      "id": "341d4230-2168-4e39-b45c-c01a90901eea",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "Salva roteiro no /tmp/youtubevideos e GDrive",
        "height": 460,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -14416,
        528
      ],
      "typeVersion": 1,
      "id": "5d7405a5-a9b2-4fbb-ab9b-7728ccdff880",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_id\"] }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -14064,
        720
      ],
      "id": "11d8e274-7fef-48cd-8b27-dade568f5229",
      "name": "Salva roteiro"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/youtubevideos/{{ $('Gera a slug do diretório').item.json.slug }}/roteiro.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -14064,
        560
      ],
      "id": "132ac0c7-2513-47e3-a444-9244ac8c7383",
      "name": "Salva roteiro1"
    },
    {
      "parameters": {
        "jsCode": "const titulo = $('PUBLICAÇÃO').first().json.title;\nconst descricao = $('PUBLICAÇÃO').first().json.description;\nconst tags = $('PUBLICAÇÃO').first().json.tags;\n\n// Formata o conteúdo do arquivo\nconst conteudo = \n`TÍTULO:\n${titulo}\n\nDESCRIÇÃO:\n${descricao}\n\nTAGS:\n${tags}\n\n`;\n\nconst safeFileName = titulo\n  .toLowerCase()\n  .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\")\n  .replace(/[^a-z0-9\\s-]/g, \"\")\n  .replace(/\\s+/g, '-')\n  .replace(/-+/g, '-')\n  .replace(/^-+|-+$/g, '');\n\nconst buffer = Buffer.from(conteudo, 'utf-8');\n\nreturn [\n  {\n    json: {},\n    binary: {\n      data: {\n        data: buffer.toString('base64'),\n        fileName: `dados_de_publicacao.txt`,\n        mimeType: 'text/plain'\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14240,
        304
      ],
      "id": "6f81d6f1-a49f-4e10-8215-43ba63cda2f9",
      "name": "Monta o TXT em base64"
    },
    {
      "parameters": {
        "jsCode": "const tituloBruto = $input.first().json.diretorio_slug || \"Sem título\";\nconst titulo = tituloBruto.replace(/\\.\\.\\.$/, '');\n\nconst roteiro = $('ROTEIRO').first().json.roteiro || \"Sem conteúdo\";\n\nconst safeFileName = titulo.replace(/[\\/\\\\?%*:|\"<>]/g, '-');\nconst buffer = Buffer.from(roteiro, 'utf-8');\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: buffer.toString('base64'),\n        mimeType: 'text/plain',\n        fileName: `roteiro.txt`\n      }\n    },\n    json: {}\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14368,
        832
      ],
      "id": "5a89e8bc-b82f-4d95-ad61-b90bf8db8e33",
      "name": "Gera roteiro em base64"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16720,
        720
      ],
      "id": "f4ed0ad3-99aa-4ca4-9f78-8bb4e89e499a",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite the text below while maintaining its style, structure, and impact, but reduce the total character count to strictly between 2300 and 2400 characters.\nDo not remove essential elements — only adjust phrases and wording naturally to shorten the text.\nReturn only the final version of the story.\n\nDo not exceed 2400 characters.\nOriginal text:\n{{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -16720,
        544
      ],
      "id": "42109f3e-7880-40a1-910c-99dbd1198df7",
      "name": "Ajusta caracteres"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a7717c7-78d4-4fc3-a875-d0d5c8f6af6c",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 2500,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16944,
        800
      ],
      "id": "30a6be61-1484-4b5f-ba6b-026fc3b8e50d",
      "name": "Verifica qtd caracteres"
    },
    {
      "parameters": {
        "content": "## 05 - Atualiza a planilha",
        "height": 80,
        "width": 360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13824,
        1184
      ],
      "typeVersion": 1,
      "id": "a11c91df-c3a2-423a-97b2-e63751c120cf",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"SETUP\"].json[\"g_googledrive_planilha\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wEO-DdbWQX31qwsX7CZb3QDNHqdndCq35nkjTiDcBWE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $item(\"0\").$node[\"SETUP\"].json[\"id\"] }}",
            "titulo": "={{ $item(\"0\").$node[\"PUBLICAÇÃO\"].json[\"title\"] }}",
            "descricao": "={{ $item(\"0\").$node[\"PUBLICAÇÃO\"].json[\"description\"] }}",
            "tags": "={{ $item(\"0\").$node[\"PUBLICAÇÃO\"].json[\"tags\"] }}",
            "slug": "={{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -13744,
        848
      ],
      "id": "0585e7cc-b178-4f45-aef5-a5c299e8d054",
      "name": "Atualiza planilha"
    },
    {
      "parameters": {
        "name": "=narracao.mp3",
        "driveId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_id\"] }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -13088,
        608
      ],
      "id": "860b93b3-aa22-470a-bed8-fa926dd4233c",
      "name": "Salva áudio"
    },
    {
      "parameters": {
        "url": "={{ $json.output[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12160,
        672
      ],
      "id": "ba8ae6b5-65b0-44df-a173-537f916ac62e",
      "name": "Baixa a imagem2"
    },
    {
      "parameters": {
        "name": "={{ $('Limpa o JSON').item.json.image }}.jpg",
        "driveId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_id\"] }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -11760,
        672
      ],
      "id": "e7270ced-2958-4fff-a9cf-7ffd12b6b47c",
      "name": "Salva no GDrive1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -11664,
        960
      ],
      "id": "167d8492-36d2-401c-a2b9-d4c7dfeb01a2",
      "name": "aguarda",
      "webhookId": "8b8edfe0-09ae-4d38-bebc-db36a711a8c1"
    },
    {
      "parameters": {
        "jsCode": "const diretorio = \"/tmp/youtubevideos/\" + $('DIRETÓRIO').first().json.diretorio_slug;\nconst totalImagens = Number($('SETUP').first().json.g_qtdimagens);\nconst duracaoAudio = Number($input.first().json.tempo_s);\n\nconst tempoPorImagem = Math.ceil((duracaoAudio / totalImagens) * 100) / 100;\n\nlet inputArgs = '';\nlet filtros = '';\nlet concat = '';\n\nfor (let i = 0; i < totalImagens; i++) {\n  const index = i + 1;\n  inputArgs += `-loop 1 -t ${tempoPorImagem} -i ${diretorio}/image_${index}.jpg \\\\\\n`;\n\n  const fadeIn = i === 0 ? '' : `fade=t=in:st=0:d=0.5,`;\n\n  let fadeOut = '';\n  if (i < totalImagens - 1 && tempoPorImagem > 0.5) {\n    const st = Math.max(0, parseFloat((tempoPorImagem - 0.5).toFixed(2)));\n    fadeOut = `fade=t=out:st=${st}:d=0.5,`;\n  }\n\n  filtros += `[${i}:v]${fadeIn}${fadeOut}setpts=PTS-STARTPTS[v${i}];\\n`;\n  concat += `[v${i}]`;\n}\n\nconst filterComplex = `${filtros}${concat}concat=n=${totalImagens}:v=1:a=0[outv]`;\n\nconst comando = `ffmpeg \\\\\n${inputArgs} \\\\\n-filter_complex \"${filterComplex}\" \\\\\n-map \"[outv]\" -c:v libx264 -preset ultrafast -pix_fmt yuv420p -y ${diretorio}/video_sem_legenda.mp4`;\n\nreturn [{\n  json: {\n    ffmpeg_command: comando\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10368,
        992
      ],
      "id": "57288562-54f4-4d80-9869-1ab96aeb28ee",
      "name": "Gera comando ffmpeg"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/video_sem_legenda.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -9936,
        800
      ],
      "id": "ae9b1ba8-e858-4583-8d5e-f5f34b4360d7",
      "name": "Lê o vídeo"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/video_com_legenda.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -8176,
        800
      ],
      "id": "8c4af134-ce2e-45ef-a60e-28e3af2163c0",
      "name": "Lê o vídeo com legenda"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=mimeType = 'audio/mpeg' and '{{ $('SETUP').item.json.g_musicas_dir }}' in parents and trashed = false",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -7680,
        992
      ],
      "id": "a9486598-c7e0-4611-8531-8b83368ee05e",
      "name": "Busca músicas no drive",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13446a55-0040-45ad-bf44-3691eb2dfe9d",
              "name": "tempo_s",
              "value": "={{ $json.duracao_em_segundos }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10560,
        992
      ],
      "id": "9a9e7b15-c419-4786-bc9f-36fece87a8a9",
      "name": "NARRACAO"
    },
    {
      "parameters": {
        "command": "={{ $json.ffmpeg_command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6400,
        992
      ],
      "id": "2d234bad-a850-4cf3-8507-b3eacc2b110a",
      "name": "Executa o comando"
    },
    {
      "parameters": {
        "content": "## 9 - Diminui o volume da música\n\nvolume=1.0 → volume original (100%)\n\nvolume=0.5 → metade do volume\n\nvolume=2.0 → dobro do volume",
        "height": 180,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5856,
        1184
      ],
      "typeVersion": 1,
      "id": "1a9dbd7d-ea09-4501-afa8-0423c1db56af",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c80aff52-7be6-4a9d-9c0a-71dae422b30f",
              "name": "=duracao_video_com_legenda_em_segundos",
              "value": "={{ Math.round($item(\"0\").$node[\"Pega o tamanho do vídeo com legenda\"].json[\"stdout\"]) }}",
              "type": "number"
            },
            {
              "id": "f510669d-4419-48ba-870b-b66764464df7",
              "name": "duracao_musica_unida_em_segundos",
              "value": "={{ Math.round($item(\"0\").$node[\"Pega o tamanho da música unida\"].json[\"stdout\"]) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4944,
        992
      ],
      "id": "f8d45b2d-1f42-45af-a075-a780f1644acc",
      "name": "TEMPO VIDEO E MUSICA"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/audio_mixado_final.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -4240,
        784
      ],
      "id": "e48ed474-390a-43ce-a5f7-7a93dbdd2fdc",
      "name": "lê o arquivo gerado1"
    },
    {
      "parameters": {
        "command": "={{ $json.ffmpeg_command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -4464,
        992
      ],
      "id": "a4db1ec6-0a60-4f30-b531-b92793c4924e",
      "name": "Gera áudio mixado final"
    },
    {
      "parameters": {
        "jsCode": "const diretorio = \"/tmp/youtubevideos/\" + $('DIRETÓRIO').first().json.diretorio_slug;\n\nconst videoLegenda = `${diretorio}/video_com_legenda.mp4`;\nconst audioFinal = `${diretorio}/audio_mixado_final.mp3`;\nconst saidaFinal = `${diretorio}/video_final_completo.mp4`;\n\nconst comando = `ffmpeg \\\n-i \"${videoLegenda}\" \\\n-i \"${audioFinal}\" \\\n-c:v copy \\\n-c:a aac \\\n-shortest \\\n-y \"${saidaFinal}\"`;\n\nreturn [{\n  json: {\n    ffmpeg_command: comando\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3904,
        992
      ],
      "id": "0ffcc064-193b-45f9-913f-c4335b98acf4",
      "name": "Gera comando para criar o vídeo completo"
    },
    {
      "parameters": {
        "command": "={{ $json.ffmpeg_command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -3664,
        992
      ],
      "id": "d1ce8b59-4ae0-4cf1-814e-afb62ec6bd7a",
      "name": "Gera o vídeo"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"snippet\": {\n    \"title\": \"{{ $json.titulo }}\",\n    \"description\": \"{{ $json.descricao }}\",\n    \"categoryId\": \"22\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2656,
        992
      ],
      "id": "1f808eed-77a0-45a0-a207-6a4c4f8088f6",
      "name": "JSON PUBLICACAO"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/video_final_completo.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2160,
        992
      ],
      "id": "7234ed24-353f-4b21-9cd7-ab7f4b6b99ae",
      "name": "Lê vídeo final"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "snippet",
              "value": "={{ $json.snippet }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2416,
        992
      ],
      "id": "816a1ffa-ad76-467e-bc6c-9b8d9e0e2b16",
      "name": "YOUTUBE - Solicitação de sessão de upload"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $item(\"0\").$node[\"YOUTUBE - Solicitação de sessão de upload\"].json[\"headers\"][\"location\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        992
      ],
      "id": "798a659a-7ffc-4524-94b0-d9ea262cb33e",
      "name": "Youtube - Envio do binário"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1440,
        864
      ],
      "id": "7d90eb38-1384-412d-8b82-a7c607445a8e",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a thumbnail image prompt based on the following psychological cosmic horror story:\n\n{{ $item(\"0\").$node[\"Remove caracteres especiais\"].json[\"roteiro\"] }}\n\nThe thumbnail must be eerie, mysterious, and visually stunning. Include no text in the image. Return a JSON with a prompt for image generation and a short, gripping phrase for overlay text.",
        "options": {
          "systemMessage": "=You are a professional AI visual artist specialized in designing cinematic, high-impact YouTube thumbnails for horror and sci-fi videos. Your goal is to generate visually compelling and mysterious prompts for image generation tools, based on story synopses provided by the user. The images must evoke curiosity, fear, or fascination, and reflect key moments, themes, or emotional beats from the story. Do not include any text in the image prompt itself. Also return a short, suspenseful phrase in {{ $item(\"0\").$node[\"SETUP\"].json[\"g_idioma\"] }} that could be used as an overlay text on the thumbnail to entice viewers to click.\n\nThe response must be a valid JSON in the format below:\n\n{\n  \"prompt\": \"A lone man standing in a dark observatory, staring up at a cosmic sky where stars form a grotesque, glowing alien face. The atmosphere is foggy, with unnatural greenish-blue tones. The town behind him is quiet and empty. The sky is distorted, with swirling constellations and strange celestial shadows. Cinematic horror lighting, photographic realism, unsettling sci-fi surrealism, cosmic dread.\",\n  \"texto\": \"They’re watching us from the stars...\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1440,
        544
      ],
      "id": "aa7da437-9a9b-4176-9083-813d01b1c771",
      "name": "Agente Thumbnail"
    },
    {
      "parameters": {
        "jsCode": "const prompt = $input.first().json.prompt;\n\nreturn [\n  {\n    json: {\n      input: {\n        prompt: JSON.stringify(prompt),\n        go_fast: true,\n        megapixels: \"1\",\n        num_outputs: 1,\n        aspect_ratio: \"16:9\",\n        output_format: \"jpg\",\n        output_quality: 80,\n        num_inference_steps: 4,\n      }\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        464
      ],
      "id": "71baf1a9-12de-413b-b233-153aadd90542",
      "name": "JSON IMAGEM"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer r8_SUA_APIKEY"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        592
      ],
      "id": "84225238-7921-408b-83d4-5c5d983b4f7d",
      "name": "Gera thumbnail",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const corrigido = items.map(item => {\n  const corrigidoJSON = JSON.parse(item.json.output);\n  return corrigidoJSON;\n});\n\nreturn corrigido;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        448
      ],
      "id": "d2448b63-99d6-4f2b-9df2-2750993dbe81",
      "name": "Faz o parser"
    },
    {
      "parameters": {
        "name": "=thumbnail.jpg",
        "driveId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_id\"] }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "152f1531-8370-4e4e-89f2-2d194e4574ef",
      "name": "Salva Gdrive"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/youtubevideos/{{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_slug\"] }}/thumbnail.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "64008b29-b791-4032-bf52-42ab81465117",
      "name": "Salva no /tmp/youtubevideos"
    },
    {
      "parameters": {
        "jsCode": "// Função que quebra o texto em linhas sem cortar palavras\nfunction quebrarTextoEmLinhas(texto, maxPorLinha) {\n  const palavras = texto.split(' ');\n  const linhas = [];\n  let linhaAtual = '';\n\n  for (const palavra of palavras) {\n    if ((linhaAtual + ' ' + palavra).trim().length > maxPorLinha) {\n      linhas.push(linhaAtual.trim());\n      linhaAtual = palavra;\n    } else {\n      linhaAtual += ' ' + palavra;\n    }\n  }\n\n  if (linhaAtual) {\n    linhas.push(linhaAtual.trim());\n  }\n\n  return linhas;\n}\n\nconst slug = $('DIRETÓRIO').first().json.diretorio_slug;\nconst textoTitulo = $('Faz o parser').first().json.texto;\n\nconst linhas = quebrarTextoEmLinhas(textoTitulo, 22);\nconst fonte = \"/tmp/youtubevideos/montserrat-black.ttf\";\n\nconst imagemEntrada = `/tmp/youtubevideos/${slug}/thumbnail.jpg`;\nconst imagemSaida = `/tmp/youtubevideos/${slug}/thumbnail_final.jpg`;\n\n// Altura base\nconst fontSize = textoTitulo.length > 50 ? 70 : 90;\nconst espacamento = Math.round(fontSize * 1.4); // 1.4x o tamanho da fonte\nconst alturaInicial = 400 - ((linhas.length - 1) * espacamento) / 2;\n\n// Monta todos os filtros drawtext para cada linha\nconst filtrosDrawtext = linhas.map((linha, i) => {\n  const texto = linha.replace(/'/g, \"\\\\'\").replace(/:/g, '\\\\:');\n  const y = alturaInicial + i * espacamento;\n\n  // Linha 2 (índice 1) em vermelho, as demais em amarelo\n  const cor = i === 1 ? '#FF0000' : '#FFFF00';\n\n  return `drawtext=text='${texto}':fontfile='${fonte}':fontcolor=${cor}:fontsize=${fontSize}:shadowcolor=black:shadowx=2:shadowy=2:x=(w-text_w)/2:y=${y}`;\n}).join(',');\n\n// Comando final\nconst comando = `ffmpeg -i \"${imagemEntrada}\" -vf \"${filtrosDrawtext}\" -y \"${imagemSaida}\"`;\n\nreturn [{\n  json: {\n    ffmpeg_command: comando\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        240
      ],
      "id": "c0008957-b321-4272-9f73-6ca1a9dc1ae7",
      "name": "Texto para thumb"
    },
    {
      "parameters": {
        "command": "={{ $json.ffmpeg_command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        880,
        240
      ],
      "id": "a6e09313-c489-4417-9abe-f4bf32547407",
      "name": "Adiciona texto na imagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Youtube - Envio do binário').item.json.id }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        240
      ],
      "id": "9b52a6ba-78d5-461c-a3a8-f380fc1b38ba",
      "name": "Atualiza no Youtube"
    },
    {
      "parameters": {
        "name": "=thumbnail_final.jpg",
        "driveId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"DIRETÓRIO\"].json[\"diretorio_id\"] }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1392,
        0
      ],
      "id": "99dfacb7-f720-4eac-9884-5217982ee079",
      "name": "Salva nova thumb no gdrive"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        240
      ],
      "id": "eb41eaae-d475-4efe-bd63-4f6c8b688c01",
      "name": "ACABOU"
    }
  ],
  "connections": {
    "HTTP ElevenLabs": {
      "main": [
        [
          {
            "node": "Salva áudio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva áudio no TMP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gera os prompts das imagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove caracteres especiais": {
      "main": [
        [
          {
            "node": "ROTEIRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Combina",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera os prompts das imagens": {
      "main": [
        [
          {
            "node": "Limpa o JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpa o JSON": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar imagem": {
      "main": [
        [
          {
            "node": "aguarda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega status da imagem": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Baixa a imagem2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "aguarda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Gerar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva img no /tmp/youtubevideos": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega a narração": {
      "main": [
        [
          {
            "node": "transcreve  audio no GROQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreve  audio no GROQ": {
      "main": [
        [
          {
            "node": "Limpa o retorno do GROQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpa o retorno do GROQ": {
      "main": [
        [
          {
            "node": "gera .ass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gera .ass": {
      "main": [
        [
          {
            "node": "Salva legenda no /tmp/youtubevideos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quantas musicas preciso": {
      "main": [
        [
          {
            "node": "Busca músicas no drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleciona X de forma aleatória": {
      "main": [
        [
          {
            "node": "Faz o download da música",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva as músicas": {
      "main": [
        [
          {
            "node": "Gera comando para unir as músicas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faz o download da música": {
      "main": [
        [
          {
            "node": "Salva as músicas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configura o tamanho da narração": {
      "main": [
        [
          {
            "node": "NARRACAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Upload do vídeo final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "JSON PUBLICACAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Pega status da imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega status da imagem1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Baixa a imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa a imagem": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Salva no /tmp/youtubevideos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva Gdrive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JSON IMAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pega nova thumb1": {
      "main": [
        [
          {
            "node": "Atualiza no Youtube",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva nova thumb no gdrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faz o download da fonte ttf": {
      "main": [
        [
          {
            "node": "Salva a fonte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva a fonte": {
      "main": [
        [
          {
            "node": "Texto para thumb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Roteiro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Publicação",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Publicação",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Agente Roteiro": {
      "main": [
        [
          {
            "node": "Verifica qtd caracteres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Publicação": {
      "main": [
        [
          {
            "node": "PUBLICAÇÃO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROTEIRO": {
      "main": [
        [
          {
            "node": "Agente Publicação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUBLICAÇÃO": {
      "main": [
        [
          {
            "node": "Gera a slug do diretório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera a slug do diretório": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combina",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combina": {
      "main": [
        [
          {
            "node": "DIRETÓRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DIRETÓRIO": {
      "main": [
        [
          {
            "node": "Monta o TXT em base64",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gera roteiro em base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta o TXT em base64": {
      "main": [
        [
          {
            "node": "Salva no GDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera roteiro em base64": {
      "main": [
        [
          {
            "node": "Salva roteiro1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva roteiro",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Ajusta caracteres",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ajusta caracteres": {
      "main": [
        [
          {
            "node": "Remove caracteres especiais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica qtd caracteres": {
      "main": [
        [
          {
            "node": "Ajusta caracteres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove caracteres especiais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza planilha": {
      "main": [
        [
          {
            "node": "HTTP ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa a imagem2": {
      "main": [
        [
          {
            "node": "Salva img no /tmp/youtubevideos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva no GDrive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aguarda": {
      "main": [
        [
          {
            "node": "Pega status da imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca músicas no drive": {
      "main": [
        [
          {
            "node": "Seleciona X de forma aleatória",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NARRACAO": {
      "main": [
        [
          {
            "node": "Gera comando ffmpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEMPO VIDEO E MUSICA": {
      "main": [
        [
          {
            "node": "comando para unir música com narração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON PUBLICACAO": {
      "main": [
        [
          {
            "node": "YOUTUBE - Solicitação de sessão de upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lê vídeo final": {
      "main": [
        [
          {
            "node": "Youtube - Envio do binário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YOUTUBE - Solicitação de sessão de upload": {
      "main": [
        [
          {
            "node": "Lê vídeo final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube - Envio do binário": {
      "main": [
        [
          {
            "node": "Agente Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Thumbnail",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Thumbnail": {
      "main": [
        [
          {
            "node": "Faz o parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON IMAGEM": {
      "main": [
        [
          {
            "node": "Gera thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera thumbnail": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faz o parser": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva no /tmp/youtubevideos": {
      "main": [
        [
          {
            "node": "Faz o download da fonte ttf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza no Youtube": {
      "main": [
        [
          {
            "node": "ACABOU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "1f0e40e529db24ec6501a2d0a92470aa85136bc66320b3051b7753335c2891fe"
  }
}